<div class="row">
  <div class="col-sm-12">
    <div class="d-flex flex-column mb-4">
      <span class="fs-2 fw-bolder">Add a business</span>
      <span class="fs-6">Add businesses to help group and manage your apps easily</span>
    </div>
  </div>
</div>

<%= render 'form', business: @business %>

<%= link_to 'Back', businesses_path %>
