<%= render 'dashboard/stats/external/summary'%>
<div class="row">
  <%= render 'dashboard/stats/external/main_chart'%>
  <%= render 'dashboard/stats/external/apps_pie'%>
</div>
<%= render 'dashboard/stats/external/monthly_summary'%>
