<div class="row">
  <div class="col-sm-7">
    <div class="bg-white border rounded shadow">
      <%= render 'dashboard/stats/external/charts/main', data: { path: 'main_external_bar', type: 'bar', pane: 'external_bar', title: 'General Income' } %>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="bg-white border rounded shadow">
      <%= render 'dashboard/stats/external/charts/main', data: { path: 'main_external_pie', type: 'pie', pane: 'external_pie', title: 'Income COmparison' } %>
    </div>
  </div>
</div>
<%= render 'dashboard/stats/external/summary'%>
<%= render 'dashboard/stats/external/monthly_summary'%>
