<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="row shadow border rounded bg-white my-3">
      <canvas id="chart_pane" height="400" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
