The endpoint should accept GET requests and return a dataset with the following nodes.
<pre id="editor">
{
    metrics: {
        # This is the general data from your app not tied to a single plan
    }
    plans: {
        # Plan data go here
    }
}
</pre>
Check <%= link_to "our docs", docs_path %> to learnm how to calculate these from your app
<div class="mt-4"></div>
The metrics data block  should look like this

<pre id="editor">
{
    gross: 0.0, #float 
    trial: 0.0, #float 
    paying_users: 0, #integer 
    trial_users: 0 #integer
}
</pre id="editor">

The plans data block  should look like this

<pre>
[
    {},
    ...
    {
        plan_name: xxxxxx, #string
        plan_price: 0.0, #float
        trial_days: 0, #integer
        plan_paying_users: 0, #integer
        plan_trial_users: 0, #integer
        plan_total_users: 0 #integer
    },
    .
    .
    .
    .
    {}
}
</pre>