<div class="shadow bg-white rounded-3 border p-4">
  <div class="fs-3 fw-normal mb-4">
    Import Previous Data
  </div>
  <div class="fs-3 fw-light">
    To import all your historical data, the Payouts CSV file is required as it is much much faster.
    In your Shopify Partners Dashboard, go to the Payouts page, and click the Export CSV button.
    Then drop the received ZIP file here:
  </div>
  <%= form_tag({:action => :shopify_importer_setup}, multipart: true, class: "my-4 form") do %>
    <%= file_field_tag :shopify, accept: ".csv" %>
    <%= submit_tag( "Import", class: "shopify-button btn btn-md") %>
  <% end %>
</div>
