<div class="container-fluid whole-width bg-white border shadow rounded-3">
  <div class="row m-4">
    <div class="col-sm-7 p-5">
      <div class="fs-1 py-5">Howdy!</div>
      <div class="fs-3 fw-light">
        Welcome to InFlow&trade; Metrics. Let's help you handle your businesses' analytics.
        First you'll need to create a business then add an asset. Can be a Shopify app, Wordpress plugin, OpenCart plugin or any SaaS platform you're running
      </div>
      <div class="py-5">
        <%= link_to "Add App", new_app_path, class: "btn btn-lg shopify-button"%>
      </div>
    </div>
    <div class="col-sm-5">
      <img src="https://media.istockphoto.com/vectors/records-management-concept-vector-illustration-vector-id1167885500?k=20&m=1167885500&s=612x612&w=0&h=YbULXTL4xGZA_Yu4bERbBBoYUkSAvI4sNMDM_1a-Kxg=" />
    </div>
  </div>
</div>
