<div class="container-fluid whole-width bg-white border shadow rounded-3">
  <div class="row m-4">
    <div class="col-sm-7 p-5">
      <div class="fs-1 py-5">Howdy!</div>
      <div class="fs-3 fw-light">
        Welcome to InFlow&trade; Metrics. Let's help you handle your businesses' analytics.
        First you'll need to create a business then add an asset. Can be a Shopify app, Wordpress plugin, OpenCart plugin or any SaaS platform you're running
      </div>
      <div class="py-5">
        <%= link_to "Add App", new_app_path, class: "btn btn-lg shopify-button"%>
      </div>
    </div>
    <div class="col-sm-5 d-flex align-items-center justify-content-center">
      <%= image_tag 'no_app', style: "max-width: 100%;" %>
    </div>
  </div>
</div>
