<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <h1>Editing App Team</h1>
    <div class="shadow border rounded p-3 m-3 bg-white">
      <%= render 'form', app_team: @app_team %>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
