<div class="overview_cards row m-3">

  <div class="col-sm-3">
    <div class="border rounded p-3 shadow bg-white">
      <div>
        <span class="material-icons">price_check</span>
      </div>
      <div class="d-flex flex-column">
        <span>Paying Revenue</span>
        <span class="fs-1"><%= number_with_precision(@app_data.mrr, precision: 2, delimiter: ',') %></span>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="border rounded p-3 shadow bg-white">
      <div>
        <span class="material-icons">attach_money</span>
      </div>
      <div class="d-flex flex-column">
        <span>Trial Revenue</span>
        <span class="fs-1"><%= number_with_precision(@app_data.trial, precision: 2, delimiter: ',') %></span>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="border rounded p-3 shadow bg-white">
      <div>
        <span class="material-icons">group</span>
      </div>
      <div class="d-flex flex-column">
        <span>Total Users</span>
        <span class="fs-1"><%= number_with_precision(@app_data.users, precision: 0, delimiter: ',') %></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="border rounded p-3 shadow bg-white">
      <div>
        <span class="material-icons">monetization_on</span>
      </div>
      <div class="d-flex flex-column">
        <span>Average Revenue Per User</span>
        <span class="fs-1"><%= number_with_precision(@app_data.mrr.to_f / @app_data.users, precision: 2, delimiter: ',') %></span>
        <span></span>
      </div>
    </div>
  </div>

</div>