<div class="overview_cards row m-3">

  <div class="col-sm-3">
    <div class="border rounded p-3 shadow bg-white">
      <div>
        <span class="material-icons">price_check</span>
      </div>
      <div class="d-flex flex-column">
        <span>Paying Revenue</span>
        <span class="fs-1"><%= App.latest_gross_paying_mrr(@app.id) %></span>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="border rounded p-3 shadow bg-white">
      <div>
        <span class="material-icons">attach_money</span>
      </div>
      <div class="d-flex flex-column">
        <span>Trial Revenue</span>
        <span class="fs-1"><%= App.latest_gross_trial_mrr(@app.id) %></span>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="border rounded p-3 shadow bg-white">
      <div>
        <span class="material-icons">group</span>
      </div>
      <div class="d-flex flex-column">
        <span>Total Users</span>
        <span class="fs-1"><%= App.latest_total_users(@app.id) %></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="border rounded p-3 shadow bg-white">
      <div>
        <span class="material-icons">monetization_on</span>
      </div>
      <div class="d-flex flex-column">
        <span>Average Revenue Per User</span>
        <span class="fs-1"><%= App.latest_arpu(@app.id) %></span>
        <span></span>
      </div>
    </div>
  </div>

</div>