<div class="overview_cards row m-3">
  <hr>
  <h3>Shopify Data</h3>
</div>

<div class="overview_cards row m-3">

  <div class="col-sm-4">
    <div class="border rounded p-3 my-2 shadow bg-white">
      <div class="d-flex flex-column">
        <span>Gross Mrr</span>
        <span class="fs-1">$58,591.76</span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="border rounded p-3 my-2 shadow bg-white">
      <div class="d-flex flex-column">
        <span>Net Revenue</span>
        <span class="fs-1">$58,711.51</span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="border rounded p-3 my-2 shadow bg-white">
      <div class="d-flex flex-column">
        <span>Annual Run Rate</span>
        <span class="fs-1">$704,538.12</span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="border rounded p-3 my-2 shadow bg-white">
      <div class="d-flex flex-column">
        <span>Recurring Revenue</span>
        <span class="fs-1">$0.00</span>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="border rounded p-3 my-2 shadow bg-white">
      <div class="d-flex flex-column">
        <span>One Time Charge</span>
        <span class="fs-1">$0.00</span>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="border rounded p-3 my-2 shadow bg-white">
      <div class="d-flex flex-column">
        <span>Refunds</span>
        <span class="fs-1">0.00$</span>
        <span></span>
      </div>
    </div>
  </div>

</div>
