<div class="row">
  <div class="col-sm-12">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h1>Apps</h1>
      </div>
      <div>
        <%= link_to "Add App", new_app_path, class: "shopify-button px-5 py-2" %>
      </div>
    </div>
  </div>
  <div class="mt-4"></div>
  <div class="col-sm-12">
    <div class="input-group shadow rounded">
      <input type="text" class="form-control" placeholder="Search for business by title ID or ApI Key" />
      <span class="point_me search-button d-flex align-items-center justify-content-center px-5 border rounded" search_for="business">Search</span>
    </div>
  </div>
  <div class="mt-4"></div>
  <div class="col-sm-12">
    <div class="border rounded bg-white">
      <%= render "apps/data/all"%>
    </div>
  </div>
</div>
